<html>

    {% extends "layout.html" %}
    {% block body %}

    <h2>Your home zipcode has been changed!</h2>
    <br>
    <div>
      <h2>log in again here:</h2>
      <form action="/login" method="POST">
        <input type="username" name="username" placeholder="Username" autocomplete="off" required>
        <input type="home_zip" name="home_zip" placeholder="Home Zipcode" pattern="[0-9]{5}" title="U.S. zipcodes have 5 digits"autocomplete="off" required>
        <input type="submit" value="log in">
      </form>
    </div>

    {% endblock %}

</html>
