<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

{% extends "layout.html" %}
{% block body %}

<body>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


<p><a href="/another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Enter your zipcode: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

<p><a href="/logout">Log Out</a></p>

</body>
{% endblock %}

</html>
