<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>What to wear today?</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


<p><a href="/another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Enter your zipcode: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

<h1>Sign in here:</h1>
<form method="POST" action="/add">
<p>Username: <input type="text" name="name"> <input type="submit" value="Add"></p>
<p>Password: <input type="text" name="name"> <input type="submit" value="Add"></p>

</form>

</body>


</html>
