<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

{% extends "layout.html" %}
{% block body %}
  <h1>Find out what to wear today</h1>

  <h2>Log in Here:</h2>
  <form action="/login" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="home_zip" name="home_zip" placeholder="Home Zipcode">
    <input type="submit" value="Log in">
  </form>

<!--   <p><a href="/register">Create Account</a></p> -->


{% endblock %}

</html>
