<html>
{% extends "layout.html" %}

{% block body %}
  <h1>Sign in here:</h1>
  <div>
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
      <br><br>
    {% endif %}
  </div>

  <div>
    <form action="/login" method="POST">
      <input type="username" name="username" placeholder="Username" required>
      <input type="home_zip" name="home_zip" placeholder="Home Zipcode" pattern="[0-9]{5}" title="U.S. zipcodes have 5 digits" required>
      <input type="submit" value="Log in">
    </form>
  </div>

  <div></div>
  <div id="bottom_links">
    <h3><a href="/register">create a new account</a></h3>
  </div>
{% endblock %}

</html>
