<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

{% extends "layout.html" %}
{% block body %}
  <h1>Sign in here:</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
  {% endif %}

  <div>

    <form action="/login" method="POST">
      <input type="username" name="username" placeholder="Username">
      <input type="home_zip" name="home_zip" placeholder="Home Zipcode">
      <input type="submit" value="Log in">
    </form>

  </div>

<p><a href="/another">Go to the other page</a></p>


{% endblock %}

</html>
