<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

{% extends "layout.html" %}
{% block body %}

  <h3>Register to get recommendations!</h3>
  The combination of your username and home zipcode will serve as your login credentials.<br>
  Your username must be unique to you. <br>

  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
  {% endif %}

  <form action="/register/account" method="POST">
    <fieldset>
      <legend>Create Account:</legend>
      * Required Fields
      <br><br>
      <div>*Enter username: (use letters and numbers)<br>

      <input type="text" name="username" placeholder="Username" pattern="[a-zA-Z0-9]{2,16}" title="Username must have between 2-16 characters (letters and numbers)" autocomplete="off" required></div><br>

      <div>*Set your home zipcode: (5 digit number)<br>
      <input type="text" name="home_zip" placeholder="Home Zipcode" pattern="[0-9]{5}" title="U.S. zipcodes have 5 digits" autocomplete="off" required></div><br>

      First name:
      <div><input type="text" name="firstname" placeholder="First Name" pattern="[a-zA-Z]+" title="First names can only be made of letters" autocomplete="off"></div><br>
      <input type="submit" value="Create Account">
    </fieldset>
  </form>

  <br>
  <p><a href="/login">Log in here</a></p>
{% endblock %}

</html>
