
{% extends "layout.html" %}
{% block style %}
{% endblock %}


{% block body %}

  <h2>Register now to get weather and clothing recommendations today!</h2>
  <p><li>The combination of your username and home zipcode will serve as your login credentials.</li>
  <li>Your username must be unique to you and it is case-sensitive.</li>
  <li>Our application is currently only available for looking up weather in the U.S. so your home zipcode must be a U.S. zipcode.</li>
  <li>You will also have the option of changing your name and home zipcode after creating your account.</li></p>
  <br><br>
  <div>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p><br><br>
  {% endif %}
  </div>

  <form action="/register_account" method="POST">
    <fieldset>
      <legend>Create Account:</legend>
      <p>* Required Fields</p>
      <br><br>
      <div>
        <h5>* Username: </h5><p> use letters and numbers</p><br>
        <input type="text" name="username" placeholder="Username" pattern="[a-zA-Z0-9]{2,16}" title="Username must have between 2-16 characters (letters and numbers)" autocomplete="off" required>
      </div><br>

      <div>
      <h5>*Set your home zipcode: </h5><p> 5-digit number</p><br>
      <input type="text" name="home_zip" placeholder="Home Zipcode" pattern="[0-9]{5}" title="U.S. zipcodes have 5 digits" autocomplete="off" required>
      </div><br>

      <div>
      <h5>First name: </h5><br>
      <input type="text" name="firstname" placeholder="First Name" pattern="[a-zA-Z]+" title="First names can only be made of letters" autocomplete="off"></div><br>
      <input type="submit" value="Create Account">
    </fieldset>
  </form>

  <br>
  <div id="bottom_links">
    <h4><a href="/login">log in here</a></h4>
  </div>
{% endblock %}

